.jumbotron {
    text-align: center;
    background-image: url("../../my_images/image/hero_image.jpg");
    color: white;
}
.modal-content iframe {
    margin-top: 13px;
    margin-bottom: 10px;
}

.modal-content {
    position: relative;
}

button.close{
    position: absolute;
    top: 5px;
    right:19px;
    font-size: 26px;
    opacity:1;
    border-radius: 24px;
    
}

.jumbotron p {
    font-weight: 100;
}

li {
    font-size: 13px;
}


h1,li {
    font-family: arvo,courier,serif;
}


.homepage {
    text-align: center;
    padding: 30px 0;
}

.homepage h2 {
    text-transform: uppercase;
    font-family: arvo,courier,serif;
    color: #e74c3c;
    font-size:30px;
}

.homepage h3 {
    text-transform: uppercase;
    color:#e74c3c;
    font-size:26px;
    font-family: arvo,courier,serif;
}

.homepage p {
    font-size: 21px;
    font-weight: 200;
}

.homepage a {
    color: #e74c3c;
}

.homepage hr {
    border-color: #e74c3c;
    width: 160px;
    margin: 15px auto;
}

.get_involved {
    background-color: #f5f5f5;
}

footer {
    background-color: #f74c3c;
    padding-top: 150px;
    padding-bottom: 30px;
    position:relative;
}

.back-to-top {
    position:absolute;
    bottom:20px;
    right: 20px;
}

li.active a {
    color: #e74c3c !important;
    background-color: white;
    
}